@if (aim() != null) {
  <pfc-gauge [subtitle]="'' + aim()"
    [title]="titleShorten"
    [values]="gaugeConfig"
  />
} @else {
  <pfc-gauge [title]="titleShorten"
             [values]="gaugeConfig"
  />
}


@if (aim() != null) {
  <span
    class="values">{{ fromFunctions.ceil(value() + (addingValue() || 0)) }}/{{ fromFunctions.ceil(aim()) }}</span>
}
@if (aim() == null) {
  <span
    class="values">{{ fromFunctions.ceil(value() + (addingValue() || 0)) }}</span>
}
<span class="title">{{ title() }}</span>
