<pfc-gauge *ngIf="aim != null; else gaugeWithoutSubtitle"
           [subtitle]="'' + aim"
           [title]="titleShorten"
           [values]="gaugeConfig"
></pfc-gauge>

<ng-template #gaugeWithoutSubtitle>
  <pfc-gauge [title]="titleShorten"
             [values]="gaugeConfig"
  ></pfc-gauge>
</ng-template>

<span *ngIf="aim != null"
      class="values">{{ fromFunctions.ceil(value + (addingValue || 0)) }}/{{ fromFunctions.ceil(aim) }}</span>
<span *ngIf="aim == null"
      class="values">{{ fromFunctions.ceil(value + (addingValue || 0)) }}</span>
<span class="title">{{ title }}</span>
