<mat-tab-group dynamicHeight="true" (selectedTabChange)="handleTabSwitched($event)">
  <mat-tab data-type="INGREDIENT" label="{{'foods-management.ingredients-tab-label' | translate}}">
    <ng-container *ngTemplateOutlet="foodListTemplate"></ng-container>
  </mat-tab>
  <mat-tab data-type="RECIPE" label="{{'foods-management.recipes-tab-label' | translate}}">
    <ng-container *ngTemplateOutlet="foodListTemplate"></ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #foodListTemplate>
  <div class="content">
    <button mat-stroked-button
            (click)="addFoodClick('INGREDIENT')"
            class="content__add-btn"
            color="primary">
      {{'foods-management.add-ingredient-caption' | translate}}
    </button>
    <mat-form-field>
      <input [formControl]="searchControl"
             [value]="searchControl.value"
             matInput
             [placeholder]="'foods-management.search-placeholder' | translate"
             type="text">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-list>
      <mat-list-item *ngFor="let food of foods | async; trackBy: trackFoodById">
        <span matListItemTitle>{{food.name}}</span>
        <span matListItemLine>{{'common.pfcc-values' | translate:food.pfcc }}</span>
        <div class="content__food-actions"
             matListItemMeta>
          <button mat-icon-button
                  color="primary"
                  (click)="handleEditClick(food.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button
                  *ngIf="food.ownedByUser"
                  (click)="handleDeleteClick(food.id)"
                  color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
    <button mat-stroked-button
            (click)="addFoodClick('INGREDIENT')"
            *ngIf="(foods | async)?.length > 10 || false"
            class="content__add-btn"
            color="primary">
      {{'foods-management.add-ingredient-caption' | translate}}
    </button>
  </div>
</ng-template>
