.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding: 0;

  &__add-btn {
    margin: 10px 5px;
  }

  &__food-actions {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  &__edit-food-btn {
    align-self: center !important;
  }
}
