<form [formGroup]="formGroup"
(ngSubmit)="handleSubmit()">
<mat-form-field>
    <mat-label>Label</mat-label>
    <mat-select placeholder="Placeholder"
                formControlName="select">
        <mat-option>
            <ngx-mat-select-search formControlName="selectSearch"/>
        </mat-option>
        <mat-option *ngFor="let option of (options | async)"
                    [value]="option">{{option.name}}</mat-option>
    </mat-select>
</mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
</form>
