@if (isAuthenticated?.isTrue ?? false) {
  <button (click)="handleMenuClicked()"
          color="primary"
          mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
}
<div class="flex-spacer"></div>
<mat-form-field appearance="outline"
                class="lang-select"
                subscriptSizing="dynamic">
  <mat-label>
    <mat-icon fontIcon="public"></mat-icon>
  </mat-label>
  <mat-select #langSelector
              (selectionChange)="handleLangChanged($event)">
    @for (lang of availableLanguages; track lang) {
      <mat-option
        [value]="lang">{{ lang }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
