<button (click)="handleMenuClicked()"
        *ngIf="isAuthenticated?.isTrue ?? false"
        color="primary"
        mat-icon-button>
  <mat-icon>menu</mat-icon>
</button>
<div class="flex-spacer"></div>
<mat-form-field appearance="outline"
                class="lang-select mat-form-field-no-bottom">
  <mat-label>
    <mat-icon fontIcon="public"></mat-icon>
  </mat-label>
  <mat-select #langSelector
              (selectionChange)="handleLangChanged($event)">
    <mat-option *ngFor="let lang of availableLanguages"
                [value]="lang">{{ lang }}
    </mat-option>
  </mat-select>
</mat-form-field>
