<pfc-dialog-page-heading [title]="'add-dish.title'"/>

@if (!isLoading) {
  <form (ngSubmit)="handleSubmit()"
        [formGroup]="form">
    <div class="body">
      <mat-form-field>
        <mat-label>{{ 'add-dish.dish-name-label' | translate }}</mat-label>
        <input formControlName="dishName"
               matInput
               type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'add-dish.cooked-weight-label' | translate }}</mat-label>
        <input formControlName="weight"
               matInput
               type="number">
      </mat-form-field>
      <ng-container formArrayName="ingredients">
        @for (ing of formIngredients.value; track $index; let idx = $index) {
          <div
            [formGroupName]="idx"
            class="ingredient">
            <div class="ingredient__select-group">
              <mat-form-field class="ingredient__select">
                <mat-select [compareWith]="compareFoodFn"
                            formControlName="ingredient">
                  <!--              <mat-label>{{ 'add-dish.ingredient-select-label' | translate }}</mat-label>-->
                  <mat-option>
                    <ngx-mat-select-search [placeholderLabel]="'add-dish.ingredient-search-placeholder' | translate"
                                           formControlName="ingredientSearch"/>
                  </mat-option>
                  <!-- Currently selected option -->
                  @if (ing.ingredient != null) {
                    <mat-option
                      [disabled]="true"
                      [value]="ing.ingredient">
                      {{ ing.ingredient?.name }}
                    </mat-option>
                  }
                  @for (opt of options[idx]; track trackFoodByIdFn($index, opt)) {
                    <mat-option
                      [disabled]="false"
                      [value]="opt">
                      {{ opt?.name }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <button (click)="handleDeleteClicked(ing.id)"
                      class="ingredient__delete-btn"
                      color="warn"
                      mat-icon-button
                      type="button">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div class="ingredient__weight">
              <mat-form-field class="ingredient__weight-input">
                <input formControlName="weight"
                       matInput
                       type="number">
              </mat-form-field>
              <mat-form-field class="ingredient__weight-measurement">
                <mat-select formControlName="measurement">
                  <mat-option [value]="defaultMeasurement">
                    {{ 'measurements.' + defaultMeasurement.name | translate }}
                  </mat-option>
                  @for (
                    measurement of formIngredients.at(idx).value.ingredient?.measurements ?? []; track measurement) {
                    <mat-option
                      [value]="measurement">
                      {{ 'measurements.' + measurement.name | translate }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        }
      </ng-container>
      <div class="buttons">
        <button (click)="handleAddIngredientClicked()"
                mat-raised-button
                type="button">
          {{ 'add-dish.add-ingredient-btn' | translate }}
        </button>
        <button [disabled]="form.invalid"
                color="primary"
                mat-raised-button
                type="submit">
          {{ 'add-dish.save-btn' | translate }}
        </button>
      </div>
    </div>
  </form>
}
