<pfc-dialog-page-heading [title]="'add-dish.title'"></pfc-dialog-page-heading>

<form (ngSubmit)="handleSubmit()"
      *ngIf="!isLoading"
      [formGroup]="form">
  <div class="body">
    <mat-form-field>
      <mat-label>{{ 'add-dish.dish-name-label' | translate }}</mat-label>
      <input formControlName="dishName"
             matInput
             type="text">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'add-dish.cooked-weight-label' | translate }}</mat-label>
      <input formControlName="weight"
             matInput
             type="number">
    </mat-form-field>

    <ng-container formArrayName="ingredients">
      <div *ngFor="let ing of formIngredients.value; let idx = index; trackBy: trackIngredientByIndexFn"
           [formGroupName]="idx"
           class="ingredient">
        <div class="ingredient__select-group">
          <mat-form-field class="ingredient__select">
            <mat-select [compareWith]="compareIngredientsFn"
                        formControlName="ingredient">
              <!--              <mat-label>{{ 'add-dish.ingredient-select-label' | translate }}</mat-label>-->
              <mat-option>
                <ngx-mat-select-search [placeholderLabel]="'add-dish.ingredient-search-placeholder' | translate"
                                       formControlName="ingredientSearch"/>
              </mat-option>
              <!-- Currently selected option -->
              <mat-option [disabled]="true"
                          [value]="ing.ingredient">
                {{ ing.ingredient?.name }}
              </mat-option>
              <mat-option *ngFor="let opt of options[idx]; trackBy:trackFoodByIdFn"
                          [disabled]="false"
                          [value]="opt">
                {{ opt?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="handleDeleteClicked(ing.id)"
                  class="ingredient__delete-btn"
                  color="warn"
                  mat-icon-button
                  type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="ingredient__weight">
          <mat-form-field class="ingredient__weight-input">
            <input formControlName="weight"
                   matInput
                   type="number">
          </mat-form-field>
          <mat-form-field class="ingredient__weight-measurement">
            <mat-select formControlName="measurement">
              <mat-option [value]="defaultMeasurement">
                {{ 'measurements.' + defaultMeasurement.name | translate }}
              </mat-option>

              <mat-option *ngFor="let measurement of formIngredients.at(idx).value.ingredient?.measurements ?? []"
                          [value]="measurement">
                {{ 'measurements.' + measurement.name | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </ng-container>

    <div class="buttons">
      <button (click)="handleAddIngredientClicked()"
              mat-raised-button
              type="button">
        {{ 'add-dish.add-ingredient-btn' | translate }}
      </button>
      <button [disabled]="form.invalid"
              color="primary"
              mat-raised-button
              type="submit">
        {{ 'add-dish.save-btn' | translate }}
      </button>
    </div>
  </div>
</form>
