@if (measurements() == null || measurements().length === 0) {
  <mat-progress-bar mode="indeterminate"/>
} @else {
  <form [formGroup]="form" class="weight-row">
    <mat-form-field class="weight-row_count">
      <input matInput type="number"
             formControlName="weight">
    </mat-form-field>

    <mat-form-field class="weight-row_measurement">
      <mat-select formControlName="measurement">
        @for (measurement of measurements(); track measurement.id) {
          <mat-option [value]="measurement">
            {{ 'measurements.' + measurement.name | translate }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
}
