:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  height: 100%;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

a[mat-button] {
  width: 100%;
}
