<pfc-dialog-page-heading [title]="'add-meal.title'"/>

<mat-form-field class="search-field">
  <input [formControl]="filterFC"
         [placeholder]="'add-meal.search-placeholder' | translate"
         matInput
         type="text">
</mat-form-field>

<mat-accordion [displayMode]="'flat'"
               [multi]="false"
               class="options-list">
  @for (option of options; track option.foodId) {
    <mat-expansion-panel (opened)="handleOptionOpened(option)"
                         [hideToggle]="false">
      <mat-expansion-panel-header>
        <div class="meal-options-header">
          <div class="meal-options-header_title">
            <p class="meal-options-header_title-primary">{{ option.name }}</p>
            <p [innerHTML]="'common.pfcc-values' | translate:(ceilPfcc(option.pfcc))"
               class="meal-options-header_title-secondary"></p>
          </div>
        </div>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="meal-options-content">
          <div class="nutrients">
            <pfc-nutrition-gauge
              [addingValue]="ceilPfcc(addedPfcc$ | async).protein"
              [aim]="aims.protein"
              [title]="'common.protein' | translate"
              [value]="nutrients.protein"/>
            <pfc-nutrition-gauge
              [addingValue]="ceilPfcc(addedPfcc$ | async).fat"
              [aim]="aims.fat"
              [title]="'common.fat' | translate"
              [value]="nutrients.fat"/>
            <pfc-nutrition-gauge
              [addingValue]="ceilPfcc(addedPfcc$| async).carbohydrates"
              [aim]="aims.carbohydrates"
              [title]="'common.carbohydrates' | translate"
              [value]="nutrients.carbohydrates"/>
            <pfc-nutrition-gauge
              [addingValue]="ceilPfcc(addedPfcc$ | async).calories"
              [aim]="aims.calories"
              [title]="'common.calories' | translate"
              [value]="nutrients.calories"/>
          </div>
          @if (editingIngredients) {
            <pfc-ingredients-edit-form [ingredientGroups]="mealIngredientsConf$ | async"
                                       (result)="handleIngredientsEdited($event)">
            </pfc-ingredients-edit-form>
          } @else {
            <pfc-weight-input [measurements]="measurements" [initial]="weight$ | async"
                              (weightChanges)="handleSimpleWeightChanged($event)"/>
          }
          @if (option.type === 'RECIPE' && !editingIngredients) {
            <button (click)="handleEditIngredientsClick(option)"
                    class="edit-ingredients-btn"
                    color="primary"
                    mat-raised-button>
              {{ 'add-meal.edit-ingredients-btn' | translate }}
            </button>
          }
          <button (click)="handleSaveMealClick(option)"
                  class="save-meal-btn"
                  color="accent"
                  mat-raised-button>
            {{ 'add-meal.add-btn' | translate }}
          </button>
        </div>
      </ng-template>
    </mat-expansion-panel>
  }

  <div class="loading-bar">
    @if (loading$ | async) {
      <mat-progress-bar
        mode="indeterminate">
      </mat-progress-bar>
    }
  </div>

  <div #endIndicator></div>
</mat-accordion>
