:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-height: 100dvh;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: .5rem 0;
}


.meal-options-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.meal-options-header_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.meal-options-header_title-primary {
  margin: 0;
}

.meal-options-header_title-secondary {
  margin: 0;
  font-size: .8rem;
  color: #707070;

  strong {
    font-weight: 900;
    color: red;
  }
}

.meal-options-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nutrients {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 5px;
}

.weight-input-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.weight-field {
  flex-basis: 40%;
}

.measurement-select {
  flex-basis: 60%;
}

.edit-ingredients-btn {
  width: 100%;
  margin-bottom: 10px;
}

.save-meal-btn {
  width: 100%;
}

.search-field {
  flex-grow: 0;
}

.options-list {
  flex-grow: 1;
  overflow: auto;
}

.loading-bar {
  width: 100%;
}

.edit-ingredients {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: stretch;

  > mat-progress-bar {
    margin: 10px 0;
  }

  mat-divider {
    margin: 0 0 10px;
  }
}

.ingredient-selector {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: baseline;

  > span, mat-checkbox {
    flex-grow: 0;
  }

  > mat-form-field {
    flex-grow: 1;
  }
}
