<form (ngSubmit)="onSubmit()"
      [formGroup]="form">

  <mat-form-field>
    <mat-label>{{ 'sign-in.email.label' | translate }}</mat-label>
    <input formControlName="email"
           matInput
           autocomplete="username"
           type="email"/>

    <mat-error *ngIf="form.controls.email.hasError('required')"
               [innerHTML]="'sign-in.email.required' | translate">
    </mat-error>
    <mat-error *ngIf="form.controls.email.hasError('email')">
      {{ 'sign-in.email.email' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'sign-in.password.label' | translate }}</mat-label>
    <input formControlName="password"
           matInput
           autocomplete="current-password"
           type="password"/>

    <mat-error *ngIf="form.controls.password.hasError('required')"
               [innerHTML]="'sign-in.password.required' | translate">
    </mat-error>
  </mat-form-field>

  <button [disabled]="!form.valid"
          color="primary"
          mat-raised-button
          type="submit">
    {{ 'sign-in.sign-in-btn' | translate }}
  </button>
  <a mat-button
     routerLink="/signup">
    {{ 'sign-in.sign-up-link' | translate }}
  </a>
</form>
