<mat-tab-group (selectedTabChange)="handleTabSwitched($event)"
               dynamicHeight="true">
  <mat-tab label="{{'foods-management.ingredients-tab-label' | translate}}">
    <ng-container *ngTemplateOutlet="foodListTemplate; context: {
      type: 'ingredients',
      data: products,
      moreDataAvailable: moreProductsAvailable,
      loading: productsLoading}"/>
  </mat-tab>
  <mat-tab label="{{'foods-management.recipes-tab-label' | translate}}">
    <ng-container *ngTemplateOutlet="foodListTemplate; context: {
       type: 'recipes',
       data: recipes,
       moreDataAvailable: moreRecipesAvailable,
       loading: recipesLoading}"/>
  </mat-tab>
</mat-tab-group>

<ng-template #foodListTemplate
             let-data="data"
             let-loading="loading"
             let-moreDataAvailable="moreDataAvailable">
  <div class="content">
    <button (click)="handleAddFoodClick()"
            class="content__add-btn"
            color="primary"
            mat-stroked-button>
      {{
        type === 'INGREDIENT'
          ? ('foods-management.add-ingredient-caption' | translate)
          : ('foods-management.add-recipe-caption' | translate)
      }}
    </button>
    <mat-form-field>
      <input [formControl]="searchControl"
             [placeholder]="'foods-management.search-placeholder' | translate"
             [value]="searchControl.value"
             matInput
             type="text">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-list>
      @for (food of data; track trackFoodById($index, food)) {
        <mat-list-item>
          <span matListItemTitle>{{ food.name }}</span>
          <span matListItemLine>{{ 'common.pfcc-values' | translate:fromFunctions.ceilPfcc(food.pfcc) }}</span>
          <div class="content__food-actions"
               matListItemMeta>
            <button (click)="handleEditClick(food.id)"
                    color="primary"
                    mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            @if (food.ownedByUser) {
              <button (click)="handleDeleteClick(food.id)"
                      color="warn"
                      mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            }
          </div>
        </mat-list-item>
      }
    </mat-list>
    <div #endIndicator id="end-indicator-{{type}}"></div>

    @if (loading) {
      <div
        class="data-loading-bar-container">
        <mat-progress-bar mode="indeterminate">
        </mat-progress-bar>
      </div>
    }

    @if (data?.length > 10 || false) {
      <button (click)="handleAddFoodClick()"
              class="content__add-btn"
              color="primary"
              mat-stroked-button>
        {{ 'foods-management.add-ingredient-caption' | translate }}
      </button>
    }
  </div>
</ng-template>
