<mat-tab-group (selectedTabChange)="handleTabSwitched($event)"
               dynamicHeight="true">
  <mat-tab label="{{'foods-management.ingredients-tab-label' | translate}}">
    <ng-container
      *ngTemplateOutlet="foodListTemplate; context: {
      data: products,
      moreDataAvailable: moreProductsAvailable,
      loading: productsLoading}">
    </ng-container>
  </mat-tab>
  <mat-tab label="{{'foods-management.recipes-tab-label' | translate}}">
    <ng-container
      *ngTemplateOutlet="foodListTemplate; context: {
       data: recipes,
       moreDataAvailable: moreRecipesAvailable,
       loading: recipesLoading}">
    </ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #foodListTemplate
             let-data="data"
             let-loading="loading"
             let-moreDataAvailable="moreDataAvailable">
  <div class="content">
    <button (click)="handleAddFoodClick()"
            class="content__add-btn"
            color="primary"
            mat-stroked-button>
      {{
        type === 'INGREDIENT'
          ? ('foods-management.add-ingredient-caption' | translate)
          : ('foods-management.add-recipe-caption' | translate)
      }}
    </button>
    <mat-form-field>
      <input [formControl]="searchControl"
             [placeholder]="'foods-management.search-placeholder' | translate"
             [value]="searchControl.value"
             matInput
             type="text">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-list>
      <mat-list-item *ngFor="let food of data; trackBy: trackFoodById">
        <span matListItemTitle>{{ food.name }}</span>
        <span matListItemLine>{{ 'common.pfcc-values' | translate:food.pfcc }}</span>
        <div class="content__food-actions"
             matListItemMeta>
          <button (click)="handleEditClick(food.id)"
                  color="primary"
                  mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="handleDeleteClick(food.id)"
                  *ngIf="food.ownedByUser"
                  color="warn"
                  mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
    <div #endIndicator></div>

    <div *ngIf="loading"
         class="data-loading-bar-container">
      <mat-progress-bar mode="indeterminate">
      </mat-progress-bar>
    </div>

    <button (click)="handleAddFoodClick()"
            *ngIf="data?.length > 10 || false"
            class="content__add-btn"
            color="primary"
            mat-stroked-button>
      {{ 'foods-management.add-ingredient-caption' | translate }}
    </button>
  </div>
</ng-template>
