:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  > * {
    width: 100%;
    box-sizing: border-box;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;

  &__title {
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    padding: 24px 24px 24px;
    margin: 0;
    font-size: 1.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 24px;
  max-height: unset;

  > form > * {
    width: 100%;
  }

  &__ingredient-box {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__ingredient {
    flex-basis: 0;
    flex-grow: 2;
  }

  &__ingredient-weight {
    flex-basis: 0;
    flex-grow: 1;
  }

  &__ingredient-remove {
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 5px;
  }

  &__add-ingredient {
    margin-bottom: 22px;
  }
}

.actions {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px 24px;
  box-sizing: border-box;
  width: 100%;

  * {
    flex-grow: 1;
  }
}
