<h1>{{ 'settings.title' | translate }}</h1>
<form (ngSubmit)="handleNameFormSubmit()"
      [formGroup]="nameForm"
      class="settings-block">
  <mat-form-field>
    <mat-label>{{ 'settings.username-label' | translate }}</mat-label>
    <input formControlName="username"
           matInput
           type="text">
  </mat-form-field>

  <button [disabled]="nameForm.invalid || nameForm.pristine"
          color="primary"
          mat-raised-button
          type="submit">
    {{ 'settings.save-username-btn' | translate }}
  </button>
</form>

<form (ngSubmit)="handleAimsFormSubmit()"
      [formGroup]="aimsForm"
      class="settings-block">
  <mat-form-field>
    <mat-label>{{ 'common.protein' | translate }}</mat-label>
    <input [placeholder]="'settings.protein-placeholder' | translate"
           formControlName="protein"
           matInput
           type="number">
    <span matTextSuffix>{{ 'common.gram-sign'|translate }}</span>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'common.fat' | translate }}</mat-label>
    <input [placeholder]="'settings.fat-placeholder' | translate"
           formControlName="fat"
           matInput
           type="number">
    <span matTextSuffix>{{ 'common.gram-sign'|translate }}</span>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'common.carbohydrates' | translate }}</mat-label>
    <input [placeholder]="'settings.carbohydrates-placeholder' | translate"
           formControlName="carbohydrates"
           matInput
           type="number">
    <span matTextSuffix>{{ 'common.gram-sign'|translate }}</span>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'common.calories' | translate }}</mat-label>
    <input [placeholder]="'settings.calories-placeholder' | translate"
           formControlName="calories"
           matInput
           type="number">
    <span matTextSuffix>{{ 'common.calories-sign'|translate }}</span>
  </mat-form-field>

  <button [disabled]="aimsForm.pristine || aimsForm.invalid"
          color="primary"
          mat-raised-button
          type="submit">
    {{ 'settings.save-aims-btn' | translate }}
  </button>
</form>

<form (ngSubmit)="handlePasswordFormSubmit()"
      [formGroup]="passwordForm"
      class="settings-block">
  <input autocomplete="username"
         formControlName="username"
         style="display: none;">
  <mat-form-field>
    <mat-label>{{ 'settings.current-password-label' | translate }}</mat-label>
    <input autocomplete="current-password"
           formControlName="currentPassword"
           matInput
           type="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'settings.new-password-label' | translate }}</mat-label>
    <input autocomplete="new-password"
           formControlName="newPassword"
           matInput
           type="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ 'settings.confirm-new-password-label' | translate }}</mat-label>
    <input autocomplete="off"
           formControlName="confirmNewPassword"
           matInput
           type="password">
  </mat-form-field>

  <button [disabled]="passwordForm.pristine || passwordForm.invalid"
          color="primary"
          mat-raised-button
          type="submit">
    {{ 'settings.save-password' | translate }}
  </button>
</form>
