:host {
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 0 10px;
}

.settings-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  box-sizing: border-box;
  padding: 10px;

  > * {
    width: 100%;
  }

  > button {
    align-self: flex-end;
    width: auto;
  }
}
