<pfc-dialog-page-heading [title]="title"/>

<form (ngSubmit)="handleSubmit()"
      [formGroup]="form"
      class="main-form">

  <input formControlName="id"
         hidden>

  <mat-form-field class="name">
    <mat-label>{{ 'add-food.name-input-label' | translate }}</mat-label>
    <input [placeholder]="'add-food.name-input-placeholder' | translate"
           formControlName="name"
           matInput
           type="text">
  </mat-form-field>

  <mat-form-field class="description">
    <mat-label>{{ 'add-food.description-input-label' | translate }}</mat-label>
    <textarea [placeholder]="'add-food.description-input-placeholder' | translate"
              formControlName="description"
              matInput
              rows="5"
              type="text"></textarea>
  </mat-form-field>

  <mat-slide-toggle #recipeSwitcher
                    (change)="handleRecipeSwitcherChanged($event)"
                    class="recipe-switcher"
                    formControlName="isRecipe">
    {{ 'add-food.recipe-switcher-label' | translate }}
  </mat-slide-toggle>

  <mat-slide-toggle class="hidden-switcher"
                    formControlName="hidden">
    {{ 'add-food.hidden-switcher-label' | translate }}
  </mat-slide-toggle>

  @if (!isRecipe) {
    <div
      class="pfcc-container"
      formGroupName="pfcc">
      <mat-form-field>
        <mat-label>{{ 'add-food.protein-input-label' | translate }}</mat-label>
        <input (click)="handleNutrientInputClick($event)"
               (focus)="handleNutrientInputFocus('protein')"
               [placeholder]="'add-food.protein-input-placeholder' | translate"
               [readonly]="recipeSwitcher.checked"
               formControlName="protein"
               matInput
               type="number">
        <span matSuffix>{{ 'common.gram-sign' | translate }} &nbsp;</span>
        <mat-hint>{{ 'add-food.pfcc-inputs-hint' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'add-food.fat-input-label' | translate }}</mat-label>
        <input (click)="handleNutrientInputClick($event)"
               (focus)="handleNutrientInputFocus('fat')"
               [placeholder]="'add-food.fat-input-placeholder' | translate"
               [readonly]="recipeSwitcher.checked"
               formControlName="fat"
               matInput
               type="number">
        <span matSuffix>{{ 'common.gram-sign' | translate }} &nbsp;</span>
        <mat-hint>{{ 'add-food.pfcc-inputs-hint' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'add-food.carbohydrates-input-label' | translate }}</mat-label>
        <input (click)="handleNutrientInputClick($event)"
               (focus)="handleNutrientInputFocus('carbohydrates')"
               [placeholder]="'add-food.carbohydrates-input-placeholder' | translate"
               [readonly]="recipeSwitcher.checked"
               formControlName="carbohydrates"
               matInput
               type="number">
        <span matSuffix>{{ 'common.gram-sign' | translate }} &nbsp;</span>
        <mat-hint>{{ 'add-food.pfcc-inputs-hint' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'add-food.calories-input-label' | translate }}</mat-label>
        <input (click)="handleNutrientInputClick($event)"
               (focus)="handleNutrientInputFocus('calories')"
               [placeholder]="'add-food.calories-input-placeholder' | translate"
               [readonly]="recipeSwitcher.checked"
               formControlName="calories"
               matInput
               type="number">
        <span matSuffix>{{ 'common.calories-sign' | translate }} &nbsp;</span>
        <mat-hint>{{ 'add-food.pfcc-inputs-hint' | translate }}</mat-hint>
      </mat-form-field>
    </div>
  }

  @if (isRecipe) {
    <div class="pfcc-values pfcc-values">
      <p class="pfcc-values__label">{{ 'common.protein' | translate }} :</p>
      <p class="pfcc-values__value">{{ ceiledPfcc.protein }}</p>
      <p class="pfcc-values__label">{{ 'common.fat' | translate }} :</p>
      <p class="pfcc-values__value">{{ ceiledPfcc.fat }}</p>
      <p class="pfcc-values__label">{{ 'common.carbohydrates' | translate }} :</p>
      <p class="pfcc-values__value">{{ ceiledPfcc.carbohydrates }}</p>
      <p class="pfcc-values__label">{{ 'common.calories' | translate }} :</p>
      <p class="pfcc-values__value">{{ ceiledPfcc.calories }}</p>
      <p class="pfcc-values__label">{{ 'common.total-weight' | translate }} :</p>
      <p class="pfcc-values__value">{{ totalRecipeWeight }}</p>
    </div>
    <h2>{{ 'add-food.ingredients-header' | translate }}</h2>
    <div class="ingredients"
         formArrayName="ingredientGroups">
      @for (ig of form.value.ingredientGroups; track ig.index; let $groupIdx = $index) {
        @let selectedIngredient = ig.ingredients[ig.selectedOption];

        <div class="ingredient-group" [formGroupName]="$groupIdx">
          <div class="ingredient-group-controls">
            <span>{{ 'add-food.ingredient-group.group-title' | translate: {index: ($groupIdx + 1)} }}</span>
            <div class="flex-spacer"></div>
            <button mat-stroked-button
                    color="warn"
                    type="button"
                    (click)="handleRemoveIngredientGroupClick($groupIdx)">
              {{ 'add-food.ingredient-group.delete-group-btn' | translate }}
              <!-- Delete Group -->
            </button>
          </div>
          <div class="ingredient-group-ingredient-controls">
            @if (selectedIngredient?.ingredient?.pfcc != null) {
              <span>
                {{ 'common.pfcc-sign' | translate }} :
                {{ 'common.pfcc-values' | translate:ceilPfcc(multiplyPfcc(selectedIngredient.ingredient.pfcc, (selectedIngredient.weight * selectedIngredient.measurement.toGramMultiplier) / 100), 0) }}
              </span>
            } @else {
              <span>
                {{ 'common.pfcc-sign' | translate }} :
                {{ 'common.pfcc-values' | translate: emptyPfcc }}
              </span>
            }
            <button mat-stroked-button
                    [disabled]="ig.selectedOption <= 0"
                    color="primary"
                    type="button"
                    (click)="handleMakeIngredientDefaultClick($groupIdx)">
              {{ 'add-food.ingredient-group.make-default' | translate }}
            </button>
          </div>

          <div formArrayName="ingredients">
            @for (ingredient of ig.ingredients; track ingredient.index; let $ingredientIndex = $index) {
              <div class="ingredient-group-items"
                   [style.display]="ig.selectedOption == $ingredientIndex ? '' : 'none'"
                   [formGroupName]="$ingredientIndex">
                <div class="ingredient-group-item_ingredient">
                  <mat-form-field>
                    <mat-label>{{ 'add-food.ingredient-select-label' | translate }}</mat-label>
                    <mat-select [compareWith]="compareIngredientsFn"
                                [placeholder]="'add-food.ingredient-select-placeholder' | translate"
                                formControlName="ingredient">
                      <mat-option>
                        <ngx-mat-select-search [placeholderLabel]="'add-food.ingredient-search-placeholder' | translate"
                                               [formControl]="form.controls.ingredientGroups.at($groupIdx).controls.ingredientSearch">
                        </ngx-mat-select-search>
                      </mat-option>
                      @for (ingredientOption of ingredientsOptions[$groupIdx]; track ingredientOption.id) {
                        <mat-option
                          [value]="ingredientOption">
                          {{ ingredientOption?.name }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>

                  <button mat-icon-button
                          type="button"
                          (click)="handleRemoveIngredientFromGroupClick($groupIdx, ig.selectedOption)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

                <div class="ingredient-group-weight-group">
                  <mat-form-field class="ingredient-weight">
                    <mat-label>{{ 'add-food.ingredient-weight-label' | translate }}</mat-label>
                    <input formControlName="weight"
                           matInput
                           type="number">
                  </mat-form-field>
                  <mat-form-field class="ingredient-measurement">
                    <mat-label>{{ 'add-food.ingredient-measurement-label' | translate }}</mat-label>
                    <mat-select [placeholder]="'placeholder'"
                                [compareWith]="compareMeasurementsFn"
                                formControlName="measurement">
                      <mat-option [value]="defaultMeasurement">
                        {{ 'measurements.' + defaultMeasurement.name | translate }}
                      </mat-option>
                      @for (
                        m of form.value.ingredientGroups[$groupIdx].ingredients[$ingredientIndex]?.ingredient?.measurements ?? []; track m.id) {
                        <mat-option
                          [value]="m">
                          {{ 'measurements.' + m.name | translate }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            }
            <div class="ingredient-group-item_controls">
              <button mat-mini-fab
                      type="button"
                      [disabled]="ig.selectedOption <= 0"
                      (click)="handleSelectPreviousIngredientInGroupClick($groupIdx)">
                <mat-icon>chevron_left</mat-icon>
              </button>

              <span class="flex-spacer"></span>
              <span>{{ (ig.selectedOption + 1) }} / {{ ig.ingredients.length }}</span>
              <span class="flex-spacer"></span>

              @if ((ig.selectedOption + 1) < ig.ingredients.length) {
                <button mat-mini-fab
                        type="button"
                        (click)="handleSelectNextIngredientInGroupClick($groupIdx)">
                  <mat-icon>chevron_right</mat-icon>
                </button>
              } @else {
                <button mat-mini-fab
                        type="button"
                        (click)="handleAddIngredientToGroupClick($groupIdx)">
                  <mat-icon>add</mat-icon>
                </button>
              }
            </div>
          </div>
        </div>
      }
      <button (click)="handleAddIngredientGroupClick()"
              class="add-ingredient-btn"
              color="primary"
              mat-stroked-button
              type="button">
        {{ 'add-food.add-ingredient-btn' | translate }}
      </button>
    </div>
  }

  <h2>{{ 'add-food.additional-measurements-header' | translate }}</h2>

  @if (form.value.isRecipe) {
    <div class="portions" formGroupName="portions">
      <mat-checkbox formControlName="enabled">
        {{ 'add-food.enable-portions-measurement' | translate }}
      </mat-checkbox>

      @if (form.value.portions.enabled) {
        <mat-form-field>
          <mat-label>
            {{ 'add-food.portion-name-label' | translate }}
          </mat-label>
          <input formControlName="name"
                 matInput
                 type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            {{ 'add-food.portions-count-label' | translate }}
          </mat-label>
          <input formControlName="portionsCount"
                 matInput
                 min="1"
                 type="number">
        </mat-form-field>
      }

    </div>
  }

  <div class="measurements"
       formArrayName="measurements">
    @for (m of form.value.measurements; track m.index) {
      @if (!m.deleted) {
        <div
          [formGroupName]="$index"
          class="measurement">
          <input formControlName="id"
                 hidden>
          <mat-form-field class="measurement-name">
            <mat-label>{{ 'add-food.measurement-name-label' | translate }}</mat-label>
            <input formControlName="name"
                   matInput
                   type="text">
          </mat-form-field>
          <button mat-icon-button
                  type="button"
                  (click)="handleDeleteMeasurement($index)"
                  color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-form-field class="measurement-multiplier">
            <mat-label>{{ 'add-food.measurement-multiplier-label' | translate }}</mat-label>
            <input formControlName="multiplier"
                   matInput
                   type="number">
          </mat-form-field>
          <mat-form-field class="measurement-default">
            <mat-label>{{ 'add-food.measurement-default-label' | translate }}</mat-label>
            <input formControlName="defaultValue"
                   matInput
                   type="number">
          </mat-form-field>
        </div>
      }
    }
    <button (click)="handleAddMeasurementClick()"
            class="add-measurement-btn"
            color="primary"
            mat-stroked-button
            type="button">
      {{ 'add-food.add-measurement-btn' | translate }}
    </button>
  </div>

  <div class="actions">
    <button [disabled]="form.invalid || (savingFood$ | async)"
            color="accent"
            mat-raised-button
            type="submit">
      {{ 'add-food.submit-btn-caption' | translate }}
    </button>
  </div>
</form>
