name: Build and publish docker image
on:
  push:
    tags:
      - "v**"

jobs:
  notification:
    name: Send notification
    needs: build
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Send TG notification
        run: |
          bash ./docker/send-tg-notification.sh \
            -t 'ghcr.io/yurii-vasylchuk/pfcalc-frontend:${{ needs.build.outputs.version }}' \
            '${{ secrets.TG_BOT_TOKEN }}' \
            '${{ secrets.TG_CHAT_ID }}' \
            '${{ needs.build.result }}' \
            'PFCalc Frontend'

  build:
    name: Build docker image
    runs-on: ubuntu-22.04
    continue-on-error: true

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    outputs:
      version: "${{ steps.meta.outputs.version }}"

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up node.js
        uses: actions/setup-node@v4.3.0
        with:
          node-version: '18'
          cache: 'npm'

      - name: Download dependencies
        run: npm ci

      - name: Build
        run: npm run build:production

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: "ghcr.io/yurii-vasylchuk/pfcalc-frontend"
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm64,linux/amd64
          push: true
          cache-from: type=registry,ref=ghcr.io/yurii-vasylchuk/pfcalc-frontend:buildcache
          cache-to: type=registry,ref=ghcr.io/yurii-vasylchuk/pfcalc-frontend:buildcache,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            BUILDKIT_PROGRESS=plain
          secrets: |
            github_token=${{ secrets.GITHUB_TOKEN }}
            github_user=${{ github.actor }}
